<!DOCTYPE html>
<html>
    <head>
        <title>MOVIE BAG</title>
    </head>
    <body>
        <h1>
            Welcome to the MOVIE BAG application home page
        </h1>
        <form action="/api/movies" method="get">
            <button name="movies_button" type="submit">Click to get List of Movies</button>
        </form>
        <br>

        <form action="/api/login_page">
            <button name="login_button" type="submit">Login</button>
        </form>
        <br>

        New User? Please Signup
        <form action="/api/signup_page">
            <button name="signup_button" type="submit">Signup</button>
        </form>
    </body>
</html>