<!DOCTYPE html>
<html>

<head>
    <title>RUGANT</title>
</head>

<body>
    <div>
        <h1>Sign Up</h1>
        <div>
            <form method="POST" action="/api/auth/signup">
                <div>
                    <input type="email" name="email" placeholder="Email" autofocus="">
                </div>
                <br>
                <div class="control">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <br>
                <button>Sign Up</button>
            </form>
        </div>
    </div>
</body>

</html>